@font-face {
    font-family: 'Source Code Pro';
    src: url(../assets/fonts/SourceCodePro-Medium.otf);
}
@font-face {
    font-family: 'SHS';
    src: url(../assets/fonts/SourceHanSansHW-Regular.otf);
}

html, body {
    background: white;
    min-height: 100%;
}
p {
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    font-family: 'SHS';
    line-height: 2;
}
.heading {
    color: black;
    font-family: 'SHS';
}
.subheading {
    color: rgb(32, 32, 32);
    font-family: 'SHS';
}
.header_links_container {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header_text {
    text-decoration: none;
    color: black;
    font-family: 'Source Code Pro';
}
.below_buttons {
    font-family: 'SHS';
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
}
.h_container {
    width: 100%;
    display: flex;
    align-items: center;
}
.below_buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60pt;
}
.header_container {
    display: flex;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}
.thumbnail {
    width: 100%;
    margin-top: 50pt;
}
.thumbnail_icon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-width: 250pt;
}
.logo_text {
    text-align: center;
    color: black;
    font-family: 'Source Code Pro';
}

@media (orientation: landscape) {
    main {
        margin-left: auto;
        margin-right: auto;
        max-width: 1024pt;
    }
    p {
        font-size: 1.2rem;
    }
    .logo_text {
        font-size: 2rem;
    }
    .below_buttons {
        padding: 7pt;
        border-radius: 25pt;
        margin: 2pt;
        font-size: 1.3rem;
    }
    .header_text {
        font-size: 20pt;
    }
    .header_link {
        text-decoration: none;
        margin-right: 20pt;
        color: black;
        font-family: 'SHS';
        font-size: 15pt;
    }
    .header_logo {
        height: 60pt;
        width: 60pt;
    }
    .work_container {
        width: 100%;
        display: flex;
        align-items: center;
    }
    .work_example {
        min-width: 40%;
        max-width: 40%;
        border-radius: 30pt;
    }
    .heading {
        font-size: 2.5rem;
    }
    .subheading {
        font-size:2rem;
    }
    .h_icon {
        width: 12%;
        max-width: 50pt;
    }
}