@font-face {
    font-family: 'Source Code Pro';
    src: url(../assets/fonts/SourceCodePro-Medium.otf);
}
@font-face {
    font-family: 'SHS';
    src: url(../assets/fonts/SourceHanSansHW-Regular.otf);
}

html, body {
    background: white;
    min-height: 100vh;
}
a {
    font-family: 'SHS';
}
p {
    margin-left: 5%;
    margin-right: 5%;
    color: black;
    font-family: 'SHS';
    line-height: 2;
}
.heading {
    color: black;
    font-family: 'SHS';
}
.subheading {
    color: rgb(32, 32, 32);
    font-family: 'SHS';
}
.below_buttons {
    font-family: 'SHS';
    text-decoration: none;
    color: white;
    background-color: black;
    text-align: center;
}
.h_container {
    width: 100%;
    display: flex;
    align-items: center;
}
.below_buttons_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 100pt;
}
main {
    margin-top: 100pt;
}

@media (orientation: landscape) {
    @media (max-width:1024pt) {
        main {
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    @media (min-width:1024pt) {
        main {
            margin-left: auto;
            margin-right: auto;
            max-width: 1024pt;
        }   
    }
    p {
        font-size: 1.2rem;
    }
    .below_buttons {
        padding: 7pt;
        border-radius: 25pt;
        margin: 2pt;
        font-size: 1.3rem;
    }
    .heading {
        font-size: 2.5rem;
    }
    .subheading {
        font-size:2rem;
    }
    .h_icon {
        width: 12%;
        max-width: 50pt;
    }
}
@media (orientation: portrait) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    p {
        font-size: 0.9rem;
    }
    .heading {
        font-size: 1.5rem;
    }
    .subheading {
        font-size:1.25rem;
    }
    .below_buttons {
        padding: 0.75rem;
        border-radius: 3rem;
        margin: 0.1rem;
        font-size: 1rem;
    }
    .h_icon {
        width: 3rem;
    }
}