@media (orientation: portrait) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }
    .header_logo {
        display: none;
    }
    .header_text {
        font-size: 3rem;
    }
    .logo_text {
        font-size: 2.5rem;
    }
    p {
        font-size: 2.5rem;
    }
    .work_container {
        width: 100%;
    }
    .work_example {
        min-width: 100%;
        max-width: 100%;
        border-radius: 20pt;
    }
    .header_logo {
        width: 12rem;
        height: 12rem;
    }
    .header_text {
        font-size: 3rem;
    }
    .header_link {
        display: none;
    }
    .heading {
        font-size: 4rem;
    }
    .subheading {
        font-size:3.5rem;
    }
    .below_buttons {
        padding: 1.3rem;
        border-radius: 3rem;
        margin: 0.5rem;
        font-size: 2.5rem;
    }
    .h_icon {
        width: 7rem;
    }
}