.header_links_container {
    margin-left: auto;
    display: flex;
    align-items: center;
}
.header_text {
    text-decoration: none;
    color: black;
    font-family: 'Source Code Pro';
}
.header_container {
    top: 0;
    left: 0;
    position: fixed;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.336);
    backdrop-filter: blur(20px);

    display: flex;
    align-items: center;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

@media (orientation: landscape) {
    .header_text {
        font-size: 20pt;
    }
    .header_link {
        text-decoration: none;
        margin-right: 20pt;
        color: black;
        font-family: 'SHS';
        font-size: 15pt;
    }
    .header_logo {
        height: 60pt;
        width: 60pt;
    }
}
@media (orientation: portrait) {
    .header_logo {
        width: 3rem;
    }
    .header_text {
        font-size: 1.3rem;
    }
    .header_link {
        display: none;
    }
}
