:root {
    --background: #eeeeee;
    --text-color: #000000;
    --card-color: #e4e4e4;
    --border: #00000030;

    --1st-width: 10pt;
    --2nd-width: 7pt;
    --3rd-width: 5pt;
    --4th-width: 5pt;

    --1st-total: calc(0pt - var(--1st-width));
    --2nd-total: calc(var(--1st-total) - var(--2nd-width));
    --3rd-total: calc(var(--2nd-total) - var(--3rd-width));
    --4th-total: calc(var(--3rd-total) - var(--4th-width));

    --1st-color: #ffc800;
    --2nd-color: #ff9200;
    --3rd-color: #ff0000;
    --4th-color: #0000ff;

    --heading-padding: 10pt;
}

html,
body {
    background: var(--background);
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

a {
    font-family: "SHS";
}

p {
    color: var(--text-color);
    font-family: "SHS";
    line-height: 2;
    font-size: 0.8em;
}

.plain p {
    padding: 0 20pt 0 20pt;
}

h1,
h2,
h3 {
    color: var(--text-color);
    font-family: "SHS";
}

.h_container {
    width: 100%;
    display: flex;
    align-items: center;
}

main {
    padding-top: 100pt;
}

@media (orientation: landscape) {
    @media (max-width: 1024pt) {
        main {
            max-width: 50%;
            margin: 0 auto 0 auto;
        }
    }

    @media (min-width: 1024pt) {
        main {
            margin-left: auto;
            margin-right: auto;
            max-width: 1024pt;
        }
    }

    p {
        font-size: 1.2rem;
    }

    .heading {
        font-size: 2.5rem;
    }

    .subheading {
        font-size: 2rem;
    }

    .h_icon {
        width: 12%;
        max-width: 50pt;
    }
}

@media (orientation: portrait) {
    main {
        margin-left: 5%;
        margin-right: 5%;
    }

    p {
        font-size: 0.9rem;
    }

    .heading {
        font-size: 1.5rem;
    }

    .subheading {
        font-size: 1.25rem;
    }

    .h_icon {
        width: 3rem;
    }
}
